*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

:root {
    --primary: #271344;
    --secondary: #ff4880;
    --blue: #1ab9ff;
    --yellow: #ffc000;
    --green: #abcd52;
    --coral: #FF6666;
}
.secondary-nav{
    background-color: #271344;
}
.contact-details{
    list-style-type: none;
}
.contact-details li{
    margin-right: 16px;
}

.contact-details li a{
    text-decoration: none;
    color: white;
}
.contact-details li a i{
    color: #ffc000;
}
.social-icons{
    list-style-type: none;
}

.social-icons li{
    margin-left: 12px;
    border-radius: 50%;
    

}


.social-icons li a{
  color: white;
  padding:5.5px 10px; 
  display: inline-block; 
}
.social-icons li:first-child{
    background-color: var(--blue);
}
.social-icons li:nth-child(2){
    background-color: var(--yellow);
}
.social-icons li:nth-child(3){
    background-color: var(--secondary);
}
.social-icons li:nth-child(4){
    background-color: var(--green);
}

.dropdown:hover .dropdown-menu{
display: block;
margin-top: 12px;

}
.dropdown-menu::after {
    content: '';
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    border: 2px dashed rgba(255,72,128,.3);
    border-radius: 8px;
    z-index: -1;
}

.dropdown-menu li {
    padding: 8px 12px;
}


.navbar-brand img{
    width: 30%;
    height: 20%;
}

.navbar-nav .nav-item .nav-link{
    color: black;
    font-size: 16px;
    padding: 0 13px;
    position: relative;
    line-height: 32px;
    display: block;

    margin-right: 18px;
    
}
.navbar-nav .nav-item .nav-link:hover{
    background-color: #ff4880;
    border-radius: 5px;
    color: white;
    transition: .3s all ease-in-out;
}
 .home .nav-link {
    border-radius: 5px;
    background-color: #ff4880;
    
}
.navbar .sticky{
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,5%); 
}

.search_btn {
    padding: 2px;
    border-radius: 50%;
    border: #ff4880 dashed 2px;
    
   
    
}

.search_btn .search_icon {
    background-color: var(--secondary);
    color: white;
    display: inline-block;
    padding: 9px 13px;
    border-radius: 50%;
}




.bg-image{
    display: flex;
    flex-direction: column;
    height: 848px;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/bg-home-top-section.png);
}

.md-content h5{
 color: #ff4880;
 margin-bottom: 10px;
 font-family: 'Schoolbell', cursive;
 
 font-size: 20px;
 letter-spacing: 3.4px;
 font-weight: 600;
 
 
}
.md-content h1{
    color: black;

    font-family: 'Fredoka', sans-serif;
    
    font-size: 50px;
    font-weight: 600;
    
    margin: 15px 0;
    
}
.md-content p{
    color: black;
    
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;

    font-size: 17px;
    
    
}
.md-content a{
    background-color: #ff4880;
    color: white;
    text-decoration: none;
    
    border-radius: 10px;
    text-transform: capitalize;
    
    display: inline-block;
    padding: 13px 26px;
    
    font-weight: bold;
    text-decoration: none;
    
    transition: .4s all ease-in-out;
    
   
}
.md-content a:hover{
    background-color: black;
}
.core-values{
    text-align: center;
}
.core-values h5{
    color: #ff4880;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Schoolbell', cursive;
    text-align: center;
    letter-spacing: 3.4px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;

    
}
.core-values h2{
    color: black;
    text-transform: capitalize;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
   text-transform: capitalize;
   margin: 15px 0;
    
    
}
.core-values p{
    margin: 15px 0;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    
}

.bee_img {
    margin: 0 auto;
    display: block;
    margin-bottom: 68px;
    animation-name: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}

@keyframes alternate {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(50%);
    }
}


.card {
    transition: all .4s ease-in-out;
}

.card:hover {
    transform: translateY(-20px);
}

.card_img {
    padding: 8px;
    border-radius: 50%;
    border: #fff dashed 2px;
    width: 176px;
    height: 176px;
    margin: 0 auto;
    animation: loading 3s linear infinite;
}

.card_img .card-img-top {
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.card-body {
    font-family: 'Fredoka', sans-serif;
}

.card-text {
    padding: 0 0 2rem 0;
}

.heading span{
    color: #ff4880;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 26px;
}
.heading h3{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 26px;
    margin-top: 12px;
    
}
.heading p{
    margin-top: 12px;
 
}
.button2{
 
    color: white;
    text-decoration: none;
    background-color: #ff4880;
    border-radius: 10px;
    text-transform: capitalize;
    
    display: inline-block;
    padding: 13px 26px;
    transition: all .1s ease-in-out;
    font-weight: bold;
    text-decoration: none;
    margin-top: 4px;
    
 }  
 .button2:hover {
    box-shadow: 0 5px #ea205e;
}

.about_section {
    background-color: #fcf9f4;
}



.about_img {
    margin-bottom: 68px;
    animation-name: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
}


@keyframes alternate {
    0% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(5%);
    }
}



.about_content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_content h2{
font-family: 'Fredoka', sans-serif;
color: var(--primary);
font-size: 40px;
font-weight: 600;
text-transform: capitalize;
margin: 15px 0;
}

.about_content p{
    font-family: 'Fredoka', sans-serif;
    margin: 15px 0;
    font-size: 17px;
}

.learn_more {
    background-color: var(--secondary);
    color: white;
    display: inline-block;
    padding: 13px 26px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    transition: .4s all ease-in-out;
}

.learn_more:hover {
    background-color: var(--primary);
}
.about-image{
    
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cms-counter-layout2{
    width: 240px;
    height: 240px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 100%;
    margin: auto;
}
.cms-counter-layout2 .cms-counter-icon .icon-image img{
    max-height: 60px;
    margin: 0 auto;
}
.elementor img{
    height: auto;
    max-width: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0;
}
img{
    vertical-align: middle;
}
.activities{
    text-align: center;
}

.childs h5{
    
    color: #ff4880;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Schoolbell', cursive;
    text-align: center;
    letter-spacing: 3.4px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
        
    }
    .childs h2{
        color: black;
        text-transform: capitalize;
        font-family: 'Fredoka', sans-serif;
        text-align: center;
        font-size: 40px;
        font-weight: 600;
       text-transform: capitalize;
       margin: 15px 0;
        
        
    }
    .childs p{
        margin: 15px 0;
        font-family: 'Fredoka', sans-serif;
        text-align: center;
        
    }
    .kindori{
        background-color: #351c5a;
        
    }
  
.kindori-inner ul{
    list-style-type: none;
}
.kindori-inner ul li{
 font-size: 15px;
 padding: 10px 0;

 
}
.kindori-inner ul li a{
    text-decoration: none;
    color: white;
   

}
.kindori-inner ul li a i{
    color: #ffc000;
}
.kindori-inner ul h4{
    color: white;
    font-weight: bold;
    font-size: 26px;
}
.buildings ul a{
    text-decoration: none;
    color: white;
  font-size: 15px;
  display: block;
  padding: 10px 0;
    
}
.buildings ul h4{
    color: white;
    font-weight: bold;
    font-size: 26px;
}
.mail h5 {
    color: #51668a;
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    padding: 0 15px;
    line-height: 48px;
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
}

.button5 {
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    transition: .4s all ease-in-out;
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;
    background-color: #ff4880;
    padding: 0 27px;
    line-height: 48px;
    width: 100%;
    text-align: center;
}
.button5:hover{
    background-color: white;
    color: black;
}
.hello ul img{
    width: 60%;
    height: 20%;
    padding-bottom: 20px;
    display: block;
    
}
.our-teachers{
    text-align: center;
}
.our-teachers h5{
    color: #ff4880;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'Schoolbell', cursive;
    text-align: center;
    letter-spacing: 3.4px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
        
}
.our-teachers h2{
    color: black;
    text-transform: capitalize;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    font-size: 42px;
    font-weight: 600;
   text-transform: capitalize;
   margin: 15px 0;
    
}
.our-teachers p{
    margin: 15px 0;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
     
}

.card3 {
    transition: all .4s ease-in-out;
}

.card3:hover {
    transform: translateY(-20px);
}

.card3{
    
    border-radius: 20px;
    padding: 18px;
    text-align: center;
    overflow: hidden;
    background-color: #fcf9f4;
    border: 0;
    
    
}
.card3 img{
    border-radius: 0;
    border: none;
    box-shadow: none;
    height: auto;
    width: 100%;
   

}

.social-links{
    list-style-type: none;
    align-items: center;
}
.social-links li{
border-radius: 50%;
margin-right: 24px;
}
.social-links li a{
color: #fff;
display: inline-block;
padding: 6px 10px;

}
.social-links li:first-child{
    background-color: var(--blue);
}
.social-links li:nth-child(2){
background-color: var(--yellow);
}
.social-links li:nth-child(3){
    background-color: var(--secondary);
    }
    .social-links li:nth-child(4){
    background-color: var(--green);
        }

.card3 h3{
    margin-top: 14px;
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;
}
.card3 p{
    margin-bottom: 22px;
    text-transform: capitalize;
}
.discover{
    background-color: #fcf9f4;
    position: relative;
   
}

.discover2 h2{
text-align: center;
text-transform: capitalize;
font-weight: bold;
font-size: 40px;
}
.test {
    text-align: center;
}

 .test .button7{
    text-transform: capitalize;
    font-weight: bold;
    background-color: #ff4880;
    border-radius: 10px;
   color: #fff;
   padding: 15px 20px;
   
   font-size: 15px;
   text-decoration: none;
}
.test .button7:hover{
    background-color: black;
}
.class{
    background-color: #abcd52;
    padding: 20px;
}
.school h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    margin-top: 12px;
    color: white;
    
}
.school p{
    margin-top: 12px;
    color: white;
    text-transform: bold;
 
}
.button6{
 
    color: black;
    text-decoration: none;
    background-color:white;
    border-radius: 10px;
    text-transform: capitalize;
    
    display: inline-block;
    padding: 13px 26px;
    transition: all .1s ease-in-out;
    font-weight: bold;
    text-decoration: none;
 
 } 
 


.footer-inner span{
    color: #ffc000;
}
.footer{
    background-color: black;
}
.footer-inner{
    color: white;
    margin-top: 10px;
}
.footer-inner span:hover{
    color: #23a455;
}

